@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    background: #010101;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%; 
}
h1{
    color: white;
}
h1 img{
    height: 60px;
}
button{
    border: none;
    outline: none;
    color: black;
    background: #FDBA16;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
}
p {
    word-break: break-all;
    white-space: normal;
}
.input-box{
    position: relative;
    width: 100%;
    min-width: 20vw;
    max-width: 40vw;
    min-height: 30vh;
    background: #88C176;
    color:black;
    outline: none;
    padding:1rem;
    margin: 2rem 0;
}
.input-box img{
    position: absolute;
    width: 20px;
    bottom: 15px;
    right: 15px;
    background-color:#88C176;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}