*{
    margin:0;
    padding:0;
}
.container{
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e0854);
    padding: 10px;
}
.todo-app{
    width: 100%;
    background: white;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left:20px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    color: white;
    background: #ff595f;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content='';
}
